
{% extends "base.html" %}
{% load static %}

{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/update.css' %}">

  <div class="update-form-container">

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1>Editar Carro</h1>
      <table>
        {{ form.as_table }}
      </table>
      <div class="buttons-container">
        <input type="submit" value="Salvar" class="btn btn-primary">
        <a href="{% url 'car_delete' pk=object.pk %}" class="btn btn-danger">Deletar Carro</a>
        <a href="{% url 'cars_list' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>

  </div>
{% endblock %}

