
{% extends "base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/cars.css' %}">

  <section class="car-grid-container">
    <form method="GET" action="{% url 'cars_list' %}">
      <input type="text" name="search" placeholder="Buscar carro...">
      <button type="submit">Buscar</button>
    </form>

    <div class="car-grid">
      {% if cars %}
        {% for car in cars %}
          <a href="{% url 'car_detail' car.pk %}">
            <article class="car-card">
              {% if car.photo %}
                <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
              {% else %}
                <img src="{% static 'default_image.jpg' %}" alt="Imagem não disponível">
              {% endif %}
              <h2>{{ car.brand }} {{ car.model }}</h2>
              <p>{{ car.factory_year }} - R$ {{ car.value }}</p>
            </article>
          </a>
        {% endfor %}
      {% else %}
        <p class="no-results">Nenhum carro encontrado.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
